<div class="cards-container">
  <div *ngFor="let pedido of pedidos" 
       class="card"
       [ngClass]="{
         'card-pendiente': pedido.estado === 'Pendiente',
         'card-en-camino': pedido.estado === 'En camino',
         'card-entregado': pedido.estado === 'Entregado'
       }">

    <!-- Icono de estado -->
    <div class="icono-estado"
         [ngClass]="{
           'icono-pendiente': pedido.estado === 'Pendiente',
           'icono-en-camino': pedido.estado === 'En camino',
           'icono-entregado': pedido.estado === 'Entregado'
         }"></div>

    <h3>Pedido #{{ pedido.id }}</h3>
    <p>Cliente: {{ pedido.cliente }}</p>
    <p>Fecha: {{ pedido.fecha }}</p>
    <p>Total: S/. {{ pedido.total }}</p>

    <p [ngClass]="{
      'estado-pendiente': pedido.estado === 'Pendiente',
      'estado-en-camino': pedido.estado === 'En camino',
      'estado-entregado': pedido.estado === 'Entregado'
    }">
      Estado: {{ pedido.estado }}
    </p>

    <div style="margin-top: 10px;">
      <button class="btn btn-en-camino" *ngIf="pedido.estado !== 'En camino'" (click)="cambiarEstado(pedido, 'En camino')">En camino</button>
      <button class="btn btn-entregado" *ngIf="pedido.estado !== 'Entregado'" (click)="cambiarEstado(pedido, 'Entregado')">Entregado</button>
    </div>
  </div>
</div>
